fastapi
uvicorn[standard]
yfinance
pandas
lxml
FinMind==1.9.6
tqdm
requests
sqlalchemy
python-dotenv
pydantic-settings
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pytest
httpx