fastapi
uvicorn[standard]
yfinance==1.2.0
pandas
lxml
FinMind==1.9.6
tqdm
requests
sqlalchemy
python-dotenv
pydantic-settings
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pytest
httpx
twstock
apscheduler
scikit-learn==1.6.1
lightgbm
scipy
psycopg2-binary